{% extends 'base.html' %}

{% block title %}
    Customers Page
{% endblock title %}

{% block content %}

    <!-- ------------ CARDS SHOWING CUSTOMER CREDENTIALS ------------ -->
    <div class="row my-5">
        <!-- SINGLE CARD -->

        <p class="display-5"> <strong> {{ customer.name }} </strong> </p>

        <div class="col">
            <div class="col-md">
                <div class="card text-left text-dark text-uppercase mb-3 card-color">
                    <div class="card-header">
                        <div class="card-title text-capitalize fs-5 m-0 py-2"> Actions : </div>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'update_customer' customer.id %}" class="btn btn-outline-primary btn-block w-100 text-capitalize mb-3"> update </a>
                        <a href="{% url 'create_order' customer.id %}" class="btn btn-outline-success btn-block w-100 text-capitalize mb-3"> place order </a>
                        <a href="{% url 'delete_customer' customer.id %}" class="btn btn-outline-danger btn-block w-100 text-capitalize"> delete </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="col-md">
                <div class="card text-left text-dark text-uppercase mb-3 card-color">
                    <div class="card-header">
                        <div class="card-title text-capitalize fs-5 m-0 py-2"> Contact Infomation : </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-lowercase"> <span class="text-capitalize"> Email : </span> {{ customer.email }} </li>
                            <li class="list-group-item text-lowercase"> <span class="text-capitalize"> Phone : </span> {{ customer.phone }} </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="col-md">
                <div class="card text-left text-dark text-uppercase mb-3 card-color">
                    <div class="card-header">
                        <div class="card-title text-capitalize fs-5 m-0 py-2"> Total Orders :  </div>
                    </div>
                    <div class="card-body">
                        <p class="display-4 text-center"> {{ total_orders }} </p>
                    </div>
                </div>
            </div>
        </div>

    <!-- ------------ CUSTOMER SEARCH FIELD/BUTTON ------------ -->
    <div class="container">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-3">
                    <form class="d-flex justify-content-between">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa-solid fa-search"></i>
                        </button>
                        <input class="form-control me-2" type="search" placeholder="search customer ..." aria-label="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- ------------ CUSTOMER ORDER DETAILS IN A TABLE ------------ -->
    <div class="container">
        <div class="row my-3">
            <div class="col-md">
                <div class="card card-body">
                    <table class="table table-md w-100 text-capitalize">
                        <tr class="text-center">
                            <th> Product </th>
                            <th> Category </th>
                            <th> Date Ordered </th>
                            <th> Status </th>
                            <th> Update </th>
                            <th> Remove </th>
                        </tr>
    
                        {% for order in orders %}
                            <tr class="text-center">
                                <td> {{ order.product.name }} </td>
                                <td> {{ order.product.category }} </td>
                                <td> {{ order.date_created }} </td>
                                <td> {{ order.status }} </td>
                                <td>
                                    <a href="{% url 'update_order' order.id %}">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'delete_order' order.id %}">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}