{% extends 'base.html' %}

{% block title %}
    Products Page
{% endblock title %}

{% block content %}
        
    <div class="container">
        <div class="row">
            <div class="col-md">
                <p class="fs-3 text-uppercase"> products </p>
                <div class="card card-body">
                    <!-- <a href="#" class="btn btn-primary btn-sm btn-block"> Create Order </a> -->
                    <table class="table table-sm">
                        <thead class="table-light text-center">
                            <tr>
                                <th> Name </th>
                                <th> Price (in Rs.) </th>
                                <th> Category </th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            {% for product in products %}
                                <tr>
                                    <td> {{ product.name }} </td>
                                    <td> {{ product.price }} </td>
                                    <td> {{ product.category }} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}