{% extends 'base.html' %}


{% block content %}
    {% include 'assets/status.html' %}

    <p class="display-5 text-capitalize"> Welcome, {{ request.user.username }} </p>

    <div class="card card-body">
        <table class="table">
            <thead class="table-light text-center">
                <tr>
                    <th> Product </th>
                    <th> Date Ordered </th>
                    <th> Status </th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for order in orders %}
                <tr>
                    <td> {{ order.product.name }} </td>
                    <td> {{ order.date_created }} </td>
                    <td> {{ order.status }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <caption> Total Orders: {{ total_orders }} </caption>
    </div>
{% endblock content %}