{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock title %}

{% block content %}

    {% include 'assets/status.html' %}
    
    <div class="container">
        <div class="row my-5">
            <div class="col-md-5">
                <p class="lead text-capitalize"> customers </p>
                <hr>
                <div class="card card-body">
                    <a href="#" class="btn btn-primary btn-sm btn-block mb-4"> Create Customer </a>
                    <table class="table table-sm">
                        <tr>
                            <th> # </th>
                            <th> Name </th>
                            <th> Phone </th>
                            <th> Email </th>
                        </tr>
                        {% for customer in customers %}
                            <tr>
                                <td> {{ customer.id }} </td>
                                <td> {{ customer.name }} </td>
                                <td> {{ customer.phone }} </td>
                                <td> {{ customer.email }} </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
    
            <div class="col-md-7">
                <p class="lead text-capitalize"> recent orders </p>
                <hr>
                <div class="card card-body">
                    <a href="#" class="btn btn-primary btn-sm btn-block mb-4"> Create Order </a>
                    <table class="table table-sm">
                        <tr>
                            <th> Product </th>
                            <th> Date Ordered </th>
                            <th> Status </th>
                            <th> Update </th>
                            <th> Remove </th>
                        </tr>
                        {% for order in orders %}
                            <tr>
                                <td> {{ order.product.name }} </td>
                                <td> {{ order.date_created }} </td>
                                <td> {{ order.status }} </td>
                                <td> <a href="#"> UPDATE </a> </td>
                                <td> <a href="#"> REMOVE </a> </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}